$brown: #bd9250;
$grey: #c7c3bd;
$light-grey: #f7f7f7;
$greyBg: rgba(199,195,189,0.5);
$overlay-top: rgba(0,0,0,.5);
$overlay-bottom: rgba(0,0,0,.81);
$light-brown: #d4ab47;
$blue: #053359;

// resolutions
$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
$small: 400px;
$smallest: 320px;