@media screen and (max-width: 1871px) {
    .model__item {
        &:nth-child(5n) {
            margin-right: rem(35px);
        }
    }
    .model__list {
        justify-content: center;
    }
    .service_block__container {
        flex-direction: column;
        align-items: center;
    }
    .service_block {
        width: rem(960px);
    }
}
@media screen and (max-width: 1580px) {
    .service__list {
        padding: 0;
    }
}
@media screen and (max-width: 1480px) {
    .service__wrapper {
        padding: 10%;
    }
}
@media screen and (max-width: 1420px) {
    .advantages__item {
        max-width: 50%;
        border: none;
    }
}
@media screen and (max-width: 1160px) {
    .form__input {
        width: auto;
    }
    .form__button {
        width: auto;
    }
    .form {
        justify-content: space-between;
    }
    .owl-nav {
        div {
            display: none;
        }
    }
    .owl-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        bottom: -25%;
    }
    .owl-dot {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: rem(1px) solid #ccc;
        margin-right: rem(16px);
        &:last-child {
            margin-right: 0;
        }
        &.active {
            position: relative;
            &:after {
                content: '';
                background-color: $light-blue;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                position: absolute;
                transform: translate(-50%,-50%);
                top: 50%;
                left: 50%;
            }
        }
    }
    .shares {
        padding-bottom: 6.875rem;
    }
    .review__list {
        .owl-dots {
        bottom: rem(-65px);
        }
    }
    .shares__list {
        .owl-dots {
            bottom: -17%;
        }
    }
    .portfolio {
        padding-bottom: rem(50px);
    }
    .portfolio__list {
        .owl-dots {
            bottom: -10%;
        }
    }
}
@media screen and (max-width: 1080px) {
    .services__container {
        flex-direction: column;
    }
    .examples__list {
        flex-wrap: wrap;
    }
    .examples__item {
        flex: 1 1 50%;
    }
}
@media screen and (max-width: 1024px) {
    .contacts__list {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 1010px) {
    .form__input {
        width: 45%;
        margin-right: 5%;
        &:nth-child(2) {
            margin-right: 0;
        }
    }
    .form {
        justify-content: center;
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width: 960px) {
    .service_block{
        width: 100%;
    }
    .defects__item {
        width: 50%;
    }
    .defects__item_lined {
        width: 50%;
    }
    .defects__list {
        max-height: 91rem;
    }
}
@media screen and (max-width: 920px) {
    .hero__container {
        padding-right: 0;
        align-items: center;
        text-align: center;
    }
}
@media screen and (max-width: 850px) {
    .hamburger {
        display: flex;
    }
    .menu__list {
        display: none;
    }
    .menu__container {
        justify-content: center;
    }
}
@media screen and (max-width: 700px) {
    .remount__title {
        text-align: center;
        margin-bottom: 10px;
        flex: initial;
    }
    .remount__button {
        flex: initial;
    }
    .remount__title-wrapper {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        position: relative;
        right: auto;
    }
    .remount__title-container {
        padding: 2.3125rem 0;
    }
}
@media screen and (max-width: 680px) {
    .advantages__item {
        max-width: 100%;
        padding-bottom: rem(10px);
    }
}
@media screen and (max-width: 600px) {
    .examples__item {
        flex: 1 1 100%;
    }
}
@media screen and (max-width: 540px) {
    .form__input {
        width: 100%;
        margin-right: 0;
    }
    .form__button {
        width: 100%;
    }
    .form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .defects__item {
        width: 100%;
        &:nth-child(4n) {
        margin-bottom: rem(11px);
    }
    }
    .defects__item_lined {
        width: 100%;
        justify-content: center;
    }
    .defects__list {
        max-height: none;
    }
}
@media screen and (max-width: 425px) {
    .hero__item {
        margin-right: 1rem;
    }
    .owl-dots {
        bottom: -15%;
    }
    .shares__list {
        .owl-dots {
            bottom: -10%;
        }
    }
    .portfolio__list {
        .owl-dots {
            bottom: -5%;
        }
    }
    .reviews__list {
        .owl-dots {
            bottom: rem(-65px);
        }
    }
    .inner__content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}