$black: #242321;
$white: #fff;
$blackRGB: rgba(36,35,33,.5);
$light-blue: #7dd7e3;
$light-blueRGB: rgba(125,215,227,.9);
$owl-buttonRGB: rgba(125,215,227,.5);

// resolutions
$desktop: 1200px;
$desktopBS: 1170px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;
$small: 400px;
$smallest: 320px;